{% extends 'base.html' %}

{% load static %}

{% block title %} Gaurav S Rana | Blog {% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-3">
      <img src="{% static 'images/gsr.jpg' %}" class="img-responsive img-rounded center-block" alt="Gaurav S Rana" height="125" width="125">
      <p class="text-center"><a href="https://twitter.com/gauravranadce"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="https://in.linkedin.com/in/grana2884"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/grana2884"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      <h5 class="text-left">WORK</h5>
       <ul class="list-unstyled text-left">
         <li>Urjakart.com</li>
         <li>Indoi Systems</li>
         <li>Cognizant Technology Solutions</li>
      </ul>
     <h5 class="text-left">EDUCATION</h5>
       <ul class="list-unstyled text-left">
         <li>Georgia Institute of Technology</li>
         <li>Delhi College of Engineering</li>
      </ul>
     <h5 class="text-left">INTERESTS</h5>
       <ul class="list-unstyled text-left">
         <li>IOT, Data Science, Machine Learning</li>
         <li>Python, Java, Javascript</li>
         <li>Movies, Music, Food :) </li>
      </ul>
        <a class="twitter-timeline" data-lang="en" data-height="250" href="https://twitter.com/gauravranadce"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-9 text-left">
         <h4>Blog & Articles</h4>
         <hr>
         {% for post in mylist %}
         <h5>{{ post.date|date:"d-m-Y" }} | <a href="/blog/{{ post.id }}">{{ post.title }}</a></h5>
         {% endfor %}
    </div>
  </div>
{% endblock %}