{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}

{% bootstrap_messages %}

{% block title %}Gaurav S Rana | Contact{% endblock %}
{% block description %}Gaurav Singh Rana's personal website and blog. Contact me for any questions.{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-3">
      <img src="{% static 'images/gsr.jpg' %}" class="img-responsive img-rounded center-block" alt="Gaurav S Rana" height="125" width="125">
      <p class="text-center"><a href="https://twitter.com/gauravranadce"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="https://in.linkedin.com/in/grana2884"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <h5 class="text-left">WORK</h5>
       <ul class="list-unstyled text-left">
         <li>Urjakart.com</li>
         <li>Indoi Systems</li>
         <li>Cognizant Technology Solutions</li>
      </ul>
     <h5 class="text-left">EDUCATION</h5>
       <ul class="list-unstyled text-left">
         <li>Georgia Institute of Technology</li>
         <li>Delhi College of Engineering</li>
      </ul>
     <h5 class="text-left">INTERESTS</h5>
       <ul class="list-unstyled text-left">
         <li>IOT, Data Science, Machine Learning</li>
         <li>Python, Java, Javascript</li>
         <li>Movies, Music, Food :) </li>
      </ul>
        <a class="twitter-timeline" data-lang="en" data-height="250" href="https://twitter.com/gauravranadce"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-9 text-left">
        {% include 'messages.html' %}
      <h4>Contact Me</h4>
      <hr>
      <p> Mail me: gauravranadce AT gmail.com </p>
        <form id="contact_form" method="post" action="">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
              <button type="submit" class="btn btn-primary">Send Message</button>
              {% endbuttons %}
        </form>
     </div>
  </div>
{% endblock %}