{% extends 'base.html' %}

{% load static %}

{% block title %} Gaurav S Rana | Into The Wild {% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-3">
      <img src="{% static 'images/gsr.jpg' %}" class="img-responsive img-rounded center-block" alt="Gaurav S Rana" height="125" width="125">
      <p class="text-center"><a href="https://twitter.com/gauravranadce"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="https://in.linkedin.com/in/grana2884"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/grana2884"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
      <h5 class="text-left">WORK</h5>
       <ul class="list-unstyled text-left">
         <li>Urjakart.com</li>
         <li>Indoi Systems</li>
         <li>Cognizant Technology Solutions</li>
      </ul>
     <h5 class="text-left">EDUCATION</h5>
       <ul class="list-unstyled text-left">
         <li>Georgia Institute of Technology</li>
         <li>Delhi College of Engineering</li>
      </ul>
     <h5 class="text-left">INTERESTS</h5>
       <ul class="list-unstyled  text-left">
         <li>IOT, Data Science, Machine Learning</li>
         <li>Python, Java, Javascript</li>
         <li>Movies, Music, Food :) </li>
      </ul>
        <a class="twitter-timeline" data-lang="en" data-height="250" href="https://twitter.com/gauravranadce"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-9 text-left">
        <h4>Into The Wild</h4>
        <hr>
        <p> Hi, my name is Gaurav Singh Rana, living in New Delhi currently working with Urjakart.com. I have co-founded two companies before which were successfully acquired.I have done my Masters in Industrial Engineering from Georgia Insititute of Technology, Atlanta USA and Bachelors in Industrial Engineering from Delhi College of Engineering, Delhi India. </p>
        <p><em>“I read somewhere... how important it is in life not necessarily to be strong, but to feel strong... to measure yourself at least once.” ― Jon Krakauer, Into the Wild</em></p>
        <p><em>“Nothing is more damaging to the adventurous spirit within a man than a secure future. The very basic core of a man’s living spirit is his passion for adventure. The joy of life comes from our encounters with new experiences, and hence there is no greater joy than to have an endlessly changing horizon, for each day to have a new and different sun.” </em></p>
        <hr>
        <img src="{% static 'images/wild.jpg' %}" class="img-rounded center-block" alt="Into the Wild" height="240" width="600">
    </div>
  </div>
{% endblock %}