{% extends 'base.html' %}

{% load static %}

{% block title %}Gaurav S Rana | Blog - {{ mypost.title }}{% endblock %}
{% block description %}Gaurav Singh Rana's personal website and blog. My blog post and updates on my work.{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-3">
        <h5>Blog List</h5>
        <ul class="text-left">
         {% for post in mylist %}
             <li><a href="{% url 'blog-post' post.id %}">{{ post.title }}</a> </li>
         {% endfor %}
        </ul>
    </div>
    <div class="col-md-9 text-left">
        {% include 'messages.html' %}
      <h4>{{ mypost.title }}</h4>
      <h6>{{ mypost.date|date:"d-m-Y" }}</h6>
      <hr>
      <p> {{ mypost.body | safe | linebreaks }} </p>
    </div>
  </div>
{% endblock %}