<!DOCTYPE html>
<html lang="en">

<head>
  <title> {% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="INDEX,FOLLOW">
  <meta name="copyright" content="2016 Gaurav S Rana">
  <meta name="author" content="Gaurav S Rana">

  {% load static %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/my.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/my.js' %}"></script>
</head>

<body>
<div id="wrap">
 <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  data-target="#myNavbar" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GSR</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a></li>
        <li><a href="/blog"><i class="fa fa-rss fa-fw" aria-hidden="true"></i> Blog</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-code fa-fw" aria-hidden="true"></i> NLP<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sentiment Analysis</a></li>
          </ul>
        </li>
        <li><a href="/contact"><i class="fa fa-beer fa-fw" aria-hidden="true"></i> Contact</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{ user.username }}<span class="caret"></span></a>
             <ul class="dropdown-menu">
            <li><a href="/dashboard">My Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Login</a></li>
            {% endif %}
             </ul>
            </li>

            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	    <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Account</h1><br>
				  <form id="login_form" method="post" enctype="multipart/form-data" action="">
                      {% csrf_token %}
                      <input type="text" name="username" placeholder="Username">
					  <input type="password" name="password" placeholder="Password">
					  <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                        {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% endif %}
				  </form>
				</div>
			</div>
		  </div>

        </ul>
    </div>
  </div>
 </nav>
    <div class="container">
       {% block content %}
       {% endblock %}
    </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-muted credit">
          <i class="fa fa-copyright" aria-hidden="true"></i> 2016 Copyright Reserved. Gaurav Singh Rana
        </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>